body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
  .header-logo-black {
    color:#2E2F42;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;

  }
  .header-logo {
    color: #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
  }
  .header-menu-link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em 
  }
  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #404bbf;
  }
  .header-menu-link {
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
  }
  .header-menu-link:hover {
    color: #404BBF;
  }

  .header-address-link {
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
  }
  .header-address-link:hover,
  .header-address-link:focus {
    color: #404bbf;
  }
  .solutions {
    background-color: #2e2f42;
  }
  .solutions-title {
    color: #FFF;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;}
  .solutions-btn {
background: #4D5AE5;
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
  }
  .solutions-btn:hover,
  .solutions-btn:focus {
    background-color: #404BBF;
  }
  .benefits-subtitle {
    color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
  }
  .benefits-item-text {
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
  }
  .team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .team-list-item {
    background-color: #FFFFFF
  }
  .team-subtitle {
    color: #2E2F42;
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
  }
  .team-item-text {
    color: #434455;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
  }
  .portfolio-title {
    color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
  }
  .portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .portfolio-item-text {
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .footer-logo-white {
    color: #f4f4fd;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
  }
  .footer-logo {
    color: #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
  }
  .footer-text {
    color: #F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
  }
  .team {
    background: #F4F4FD;
  }
  .footer {
    background: #2E2F42;
  }
  .header-address {
    font-style: normal;
  }
